.NewGame {
    display: grid;
    justify-content: center;
    justify-items: center;

    &.LoadingGame {
        pointer-events: none;
    }

    .AddressInput,
    .AmountInput {
        margin-bottom: 1em;
        
    }

    .NewGameHeader {
        margin: 0;
    }

    .NewGameFooter {
        display: flex;
        justify-content: space-between;
        min-width: 270px;
        margin-top: 1.6em;
    }

    .CreateNewGameButton {
        margin-top: 1.6em;
        width: 270px;
    }
}