.GamesTableHeader {

    .StatusCell {
        
    }
    .PlayersCell {
        
    }
    .PrizeCell {
        
    }
    .GamePreviewCell {
        width: 100px;
    }
    
    .GameActionsCell {
        width: 100px;
        padding: 0;
    }
}