.GamesTableHeader {

    .StatusCell {}

    .PlayersCell {}

    .PrizeCell {}

    .GamePreviewCell {
        width: 100px;

        @media only screen and (max-width: 720px) {
            display: none;
        }
    }

    .GameActionsCell {
        width: 90px;
        padding: 0;
    }
}