@import "@fontsource/raleway/300";
@import "@fontsource/raleway";
@import "@fontsource/raleway/500";

html {
  font-family: 'Raleway';
  font-size: 1.1em;
  color: #f9f9f9;

  body {

    #root {
      height: 100%;
      overflow: auto;
    }
  }

  @media only screen and (max-width: 420px) {
      font-size: 0.8em;
  }
}