td {
    &.GameRowPreviewCell {
        display: flex;
        justify-content: center;
        
    }
    
    &.GameRowStatusCell {
        
        >div {
            display: flex;
            align-items: center;
    
            svg {
                margin-right: 0.5em;
    
            }
        }
    }
}