td {
    &.MuiTableCell-root {
        padding: 16px 8px;

        &.GameRowStatusCell {

            .GameStatus {
                justify-content: start;
            }
        }

        @media only screen and (max-width: 720px) {

            .GameStatusText {
                display: none;
            }
        }

        &.GameRowPreviewCell {
            display: flex;
            justify-content: center;


            @media only screen and (max-width: 720px) {
                display: none;
            }
        }

        @media only screen and (max-width: 720px) {

            &.GameRowDetailsCell {

                .GameRowButtonText {

                    display: none;
                }
            }
        }
    }
}