td {
    &.MuiTableCell-root {
        padding: 16px 8px;

        &.GameRowStatusCell {

            .GameStatus {
                justify-content: start;
            }
        }

        &.GameRowPlayersCell {}

        &.GameRowPreviewCell {
            display: flex;
            justify-content: center;

        }
    }
}