.PlayableGame {

    .PlayableGameFooter {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;

    }

    &.PlayableGameAccepted {

        .PlayableGameFooter {

            button {
                width: 100%;
            }
        }
    }
}
